@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Wumbos DnD Toolbox</h1>
    <h4>A free open source toolbox for DMs in need of creativity!</h4>
    <h4>Select a tool from the above tabs to get started</h4>
    <br />
    <p>This is an on going project that may have bugs and inefficiencies.
        <br /> 
        Please feel free to give feedback! We will be adding tools and features
        as the developers have time.
    </p>
</div>
